{% extends "base.html" %}

{% block content %}
<div id="error-bar"></div>
<form method="post" class="btns">
    <h3>Enter the game room</h3>
    <div class="name">
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" placeholder="Pick a name" name="name" value="{{name}}">
    </div>
    <div class="join">
        <input type="text" placeholder="Room room" name="room" id="room" value="{{room}}">
        <button type="button" name="join" onclick="JoinRoom()">Join a Room</button>
    </div>
    <button type="button" name="create" class="create-btn" onclick="CreateRoom()">Create a Room</button>
    <ul id="error"></ul>
</form>


<script type="text/javascript">
   const sockit = io()
   const name = document.getElementById("name-input")
   let player_id = localStorage.getItem("player_id");
   function generateUUID() {
   return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      const r = Math.random() * 16 | 0;
      const v = c === 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
   });
}

   if (!player_id) {
      player_id = generateUUID()
      localStorage.setItem("player_id", player_id);
   }
   set_identity()
   async function set_identity() {
         await fetch ('/set_identity' , {
         method : 'POST',
         headers: {'Content-Type': 'application/json'},
         body: JSON.stringify({ 'player_id': player_id })
   })  
   };

   function showError(message){
      const bar = document.getElementById("error-bar");
      bar.textContent = message;
      bar.classList.add("show");

      setTimeout(()=>{
         bar.classList.remove("show");
      },10000);
   };

   const CreateRoom = () => {
      const ul = document.getElementById("error");
      ul.innerHTML = "";
      if (name.value.trim() === ""){
         showError("plaese enter a name")
         return;
      };

      sockit.emit("create-room", {
         "player_id":player_id,
         "name":name.value,
      });
   }
   sockit.on("room_joined", (data) => {
      console.log("success")
      window.location.href = data.url; // redirect
   });
   const JoinRoom = () => {
      const ul = document.getElementById("error");
      ul.innerHTML = "";
      const room = document.getElementById("room");
         if (name.value.trim() === ""){
            showError("plaese enter a name");
            return;
      };
         if (room.value.trim() === ""){
            showError("plaese enter a room code");
            return;
      };
      


      sockit.emit("join-room", {
         "player_id":player_id,
         "name":name.value,
         "room":room.value
      });

      sockit.on("error", (data) => {
         showError(data.message);
      });
   };



</script>
{% if room %}
   <script>
      document.getElementById("room").value = "{{room}}";
   </script>
{% endif %}
{% endblock content %}