{% extends "base.html" %}

{% block content %}
<div id="error-bar"></div>
<form method="post" class="btns">
    <h3>Enter the game room</h3>
    <div class="name">
        <label for="name-input">Name:</label>
        <input type="text" id="name-input" placeholder="Pick a name" name="name" value="{{name}}">
    </div>
    <div class="join">
        <input type="text" placeholder="Room room" name="room" id="room" value="{{room}}">
        <button type="button" name="join" onclick="JoinRoom()">Join a Room</button>
    </div>
    <button type="button" name="create" class="create-btn" onclick="CreateRoom()">Create a Room</button>
    <ul id="error"></ul>
</form>


<script type="text/javascript">
   const sockit = io()
   const name = document.getElementById("name-input")


   function showError(message){
      const bar = document.getElementById("error-bar");
      bar.textContent = message;
      bar.classList.add("show");

      setTimeout(()=>{
         bar.classList.remove("show");
      },10000);
   };

   const CreateRoom = () => {
      const ul = document.getElementById("error");
      ul.innerHTML = "";
      if (name.value.trim() === ""){
         showError("plaese enter a name")
         return;
      };

      sockit.emit("create-room", {
         "name":name.value,
      });
   }
   sockit.on("room_joined", (data) => {
      console.log("success")
      window.location.href = data.url; // redirect
   });
   const JoinRoom = () => {
      const ul = document.getElementById("error");
      ul.innerHTML = "";
      const room = document.getElementById("room");
         if (name.value.trim() === ""){
            showError("plaese enter a name");
            return;
      };
         if (room.value.trim() === ""){
            showError("plaese enter a room code");
            return;
      };
      


      sockit.emit("join-room", {
         "name":name.value,
         "room":room.value
      });

      sockit.on("error", (data) => {
         showError(data.message);
      });
   };



</script>
{% if room %}
   <script>
      document.getElementById("room").value = "{{room}}";
   </script>
{% endif %}
{% endblock content %}