{% extends "base.html" %}

{% block content %}
<div id="success-bar"></div>
<div id="error-bar" >Something went wrong</div>
<h2>Room {{room}}</h2>

<div class="players">
    <ul>

    </ul>
</div>

{% if is_host %}

<div class="start_game" onclick="Start_game()">
    Start Game
</div>

{% endif %}
<script type="text/javascript">
    const messages = document.getElementById("#messages");
    const sockit = io();
    sockit.emit("room-page-joined")

    const showPlayer = (players) =>{
        const ul = document.querySelector(".players ul");
        ul.innerHTML = "";
        for (player of players){
            let li = document.createElement("li");
            li.textContent = player;
            ul.appendChild(li);
        }

    }

    function Start_game(){
        console.log("Start_game")
        sockit.emit("Start_game")
    }

    function showError(message){
    const bar = document.getElementById("error-bar");
    bar.textContent = message;
    bar.classList.add("show");

    setTimeout(()=>{
        bar.classList.remove("show");
    },10000);
}

    function showSuccess(message){
    const bar = document.getElementById("success-bar");
    bar.textContent = message;
    bar.classList.add("show");

    setTimeout(()=>{
        bar.classList.remove("show");
    },10000);
}

    sockit.on("player_id",(data) =>{
        let player_id = data.data
    })


    sockit.on("error",(data) =>{
        showError(data.message)
    })
    sockit.on("success",(data) =>{
        showSuccess(data.message)
    });
    sockit.on("started",(data)=>{
        document.body.innerHTML = `<h1>you Are a ${data["type"]}`
    })
    sockit.on("player-joined",(data) =>{
        console.log("player joined")
        showPlayer(data.players)
    });

    sockit.on("Game-on",(data) => {
        console.log(player_id)
        console.log(data[player_id])
        document.body.innerHTML = `<h1>you Are a ${data[player_id]}`
    })
</script>
{% endblock content %}

